In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../output/trivago_rio/train.csv')
df.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,0Q3605EUBZG3,641a409c90fac,1541094556,1,change of sort order,interaction sort button,BR,"Rio de Janeiro, Brazil",mobile,NaN,NaN,NaN
1,0Q3605EUBZG3,641a409c90fac,1541094594,2,change of sort order,interaction sort button,BR,"Rio de Janeiro, Brazil",mobile,NaN,NaN,NaN
2,0Q3605EUBZG3,641a409c90fac,1541094597,3,change of sort order,price and recommended,BR,"Rio de Janeiro, Brazil",mobile,NaN,NaN,NaN
3,0Q3605EUBZG3,641a409c90fac,1541094597,4,filter selection,Best Value,BR,"Rio de Janeiro, Brazil",mobile,Best Value,NaN,NaN
4,0Q3605EUBZG3,641a409c90fac,1541094648,5,interaction item info,104900,BR,"Rio de Janeiro, Brazil",mobile,NaN,NaN,NaN

In [4]:
df.action_type.unique()

array(['change of sort order', 'filter selection',
       'interaction item info', 'interaction item image',
       'interaction item rating', 'clickout item', 'search for item',
       'search for poi', 'search for destination',
       'interaction item deals'], dtype=object)

In [6]:
ref = df[df.action_type.isin(["interaction item info", "clickout item"])].reference
ref

4          104900
5          153550
6         2733700
7         1771981
8          925941
           ...
161966     153550
161967    2063474
161970    5419264
161971      95794
161972     109339
Name: reference, Length: 12115, dtype: object

In [7]:
df_item = pd.read_csv('../output/trivago_rio/item_metadata.csv')
df_item.head()

   item_id                                         properties
0     5101  Satellite TV|Golf Course|Airport Shuttle|Cosme...
1     5416  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
2     5834  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
3     5910  Satellite TV|Sailing|Cosmetic Mirror|Telephone...
4     6066  Satellite TV|Sailing|Diving|Cosmetic Mirror|Sa...

In [8]:
df_item_ = df_item.set_index('item_id').loc[ref.values]

KeyError: "None of [Index(['104900', '153550', '2733700', '1771981', '925941', '4041114',\n       '5830856', '5723646', '1670475', '1055330',\n       ...\n       '1471997', '3249804', '5016850', '104524', '5790750', '153550',\n       '2063474', '5419264', '95794', '109339'],\n      dtype='object', name='item_id', length=12115)] are in the [index]"

In [27]:
values = pd.to_numeric(ref, errors='coerce', downcast='signed').fillna(0).astype(int)

In [28]:
df_item_ = df_item[df_item.item_id.isin(values)]

In [31]:
df_item_.shape

(818, 2)

In [33]:
df_item_.to_csv('item_metadata.csv', index=False)

In [32]:
df_item_

        item_id                                         properties
1728    3217002  Reception (24/7)|Air Conditioning|Satisfactory...
1789    3486086         Satisfactory Rating|House / Apartment|Lift
2505    5497220  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
2804    6551710  Satellite TV|Sitting Area (Rooms)|Adults Only|...
2846    6680288  Cosmetic Mirror|Convenience Store|Air Conditio...
...         ...                                                ...
921786  9682444                                              Hotel
923871  2833190  Table Tennis|WiFi (Public Areas)|Sauna|Busines...
924701  5150678  Balcony|WiFi (Public Areas)|Desk|Ironing Board...
924782  5506362  House / Apartment|Satisfactory Rating|Good Rat...
924822  5701536  Balcony|WiFi (Public Areas)|Hostel|Free WiFi (...

[818 rows x 2 columns]